In [ ]:
## Create a list(friend_names) with your friends names(atleaste 10 names)?
print all names with in loop 
Expected Output: my friend name is "ravi"
		     my friend name is "shanker"

In [1]:
lst=["shakeera","anusha","madhuri","aruna","nasheena","jayasri","sushma"]
for p in lst:
    print("my friends name is",p)

my friends name is shakeera
my friends name is anusha
my friends name is madhuri
my friends name is aruna
my friends name is nasheena
my friends name is jayasri
my friends name is sushma

In [ ]:
###Create a list(family_members) with your family members names(atleaste 10 names)?
print all names with in loop

In [1]:
lst=["kowser","zareena","subhani","mobeena","siraj","safiya","afifa"]
for p in lst:
    print("my family member is",p)

my family member is kowser
my family member is zareena
my family member is subhani
my family member is mobeena
my family member is siraj
my family member is safiya
my family member is afifa

In [ ]:
### Create a list(food_names) with your favorite food names(atleaste 10 names only veg)?
print all names with in loop

In [3]:
lst=["chat","noodles","rasam","panipuri","mirchi_bajji"]
for p in lst:
    print("my favorate food is",p)

my favorate food is chat
my favorate food is noodles
my favorate food is rasam
my favorate food is panipuri
my favorate food is mirchi_bajji

In [ ]:
###Create a tuple(food_names) with your favorite food names(atleaste 10 names only nonveg)?
print all names with in loop

In [1]:
lst=("mutton","chicken","fish","prawns")
for p in lst:
    print("my favorate food names is",p)

my favorate food names is mutton
my favorate food names is chicken
my favorate food names is fish
my favorate food names is prawns

In [ ]:
 ###Create a set(colour_names) with your colour names(atleaste 10 names)?
print all names with in loop

In [2]:
lst={"red","blue","black","white","yellow","pink","orange"}
for p in lst:
    print("colours name is",p)

colours name is red
colours name is yellow
colours name is orange
colours name is black
colours name is blue
colours name is pink
colours name is white

In [ ]:
### Create a list(month_names) with your month names(atleaste 10 names)?
print all names with in loop

In [7]:
lst=["january","february","march","april","may","june","july","agust","september","october","november","december"]
for p in lst:
    print("all month names is",p)

all month names is january
all month names is february
all month names is march
all month names is april
all month names is may
all month names is june
all month names is july
all month names is agust
all month names is september
all month names is october
all month names is november
all month names is december

In [ ]:
###print 9th table (1 rto 90)

In [10]:
for p in range(0,90,9):
    print(p)

0
9
18
27
36
45
54
63
72
81

In [ ]:
###print 12th table (1 rto 120)

In [11]:
for p in range (0,120,12):
    print(p)

0
12
24
36
48
60
72
84
96
108