In [1]:
import pandas
import pandas as pd
df=pd.read_excel(r"C:\Users\HP\Documents\Shabana-pandas\family members.xlsx")
df

  family_members relation
0         mazeed   father
1    zahurunnisa   mother
2        zareena   sister
3          siraj  brother

In [1]:
dict1={"family_members":["mazeed","zahurunnisa","zareena","siraj"],"relation":["father","mother","sister","brother"]}

In [ ]:
import pandas as pd

In [ ]:
df=pd.dataframe(dict1)

In [14]:
df

  family_members relation
0         mazeed   father
1    zahurunnisa   mother
2        zareena   sister
3          siraj  brother